@media (min-width:375px) and (max-width: 900px) {
	
	header { 
	text-align: right;
	line-height: 1.2;
	margin: 0 0;
	height: 58% !important;
	}
	
	header {
	text-align: right;
	line-height: 1.2;
	margin: 0 0;
	}
	
	header nav {
	color: #fff;
	padding: 35% 7%;
	margin: 0 0;
	line-height: 4em;
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0, 0.95);
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	}

	nav li {
		display: flex; 
		flex-direction: column;/* establish flex container */  
		text-align: center;
		justify-content: center;
		width:100%;
		
	}

	nav li a {
		width:50%;
		height: 100%;
		margin: auto auto;
		text-align: center;
		font-size: 1.3em!important;
	}

	
	#ArticleTitle {
	width:75%
	}
	
	
	
	footer {
	font-size: 0.48em;
	line-height: 12px;
	}
	
	#footer-one > div {
	  width: 100px;
	  height: 80px;
	  *border: 2px dashed red;
	}
	
	#footer-sponsors {
	padding-left: 30px;
	}
	
	#footer-social {
	padding-left: 48px;
	}
	
}

@media (max-width: 900px) {
	
	html, body {
  		overflow-x: hidden;
		background-size: 310%;
	}
	
	nav, .navbar-toggle {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.nav-hide { display: none; }

	ul {
	  display: table-cell;
	  vertical-align: middle;
	  padding-right: 50px !important;
	}

	ul li { list-style: none; }

	ul li a {
	  font-size: 2.5em;
	  color: inherit;
	  font-weight: bolder;
	  text-decoration: none;
	}
	
	.navbar-toggle {
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  width: 45px;
	  height: 45px;
	  z-index: 20;
	  cursor: pointer;
	}

	.bar1,
	.bar2,
	.bar3 {
	  width: 80%;
	  height: 5px;
	  margin-bottom: 5px;
	  background-color: #fff;
	  transition: all 0.3s ease-in-out;
	
	}

	.navbar-on .bar1,
	.navbar-on .bar2,
	.navbar-on .bar3 { background-color: white; }

	.navbar-on .bar1 {
	  transform-origin: 10% 40%;
	  transform: rotate(45deg);
	}

	.navbar-on .bar3 {
	  transform-origin: 10% 40%;
	  transform: rotate(-45deg);
	}

	.navbar-on .bar2 { background-color: transparent; }
	
	.container {
	  margin: -20% auto -25px auto;
	  background-color: #242424;
	}

	.accordion {
	  background: #5ab2ca;
	  width: 100%;
	  min-width: 950px;
	  display: block;
	  list-style-type: none;
	  overflow: hidden;
	  height: auto;
	  font-size: 0;
	}

	.tabs {
	  display: flex;
	  background-color: #6dc5dd;
	  border-right: #5ab2ca 1px solid;
	  width: auto;
	  height: 650px;
	  overflow: hidden;
	  position: relative;
	  margin: 0;
	  font-size: 16px;
	}
	
	.tabs:hover {
	  width: auto;
	  height: 680px;
	}
	
	.tabs:hover .social-links a:before {
	  margin-left: -100px;
	}
	.tabs:hover .social-links a:after {
	  margin-left: -5px;
	}
	.tabs .paragraph {
	  position: relative;
	  margin-left: 80px;
	  padding: 20px 0 0 10px;
	  background: #fff;
	  height: 100%;
	  width:100%;
	}
	.tabs .paragraph h1 {
	  font-size: 2.0em;
	  margin-bottom: 10px;
	}
	.tabs .paragraph p {
	  font-size: 0.88em;
	  line-height: 1.5em;
	  padding-right: 30px;
	}

	.social-links {
	  display: block;
	}
	.social-links a {
	  display: block;
	  text-indent: -9999px;
	  font-size: 0;
	  line-height: 0;
	}
	.social-links a:before, .social-links a:after {
	  transition: none;
	  width: 80px;
	  height: 100%;
	  position: absolute;
	  text-indent: 0;
	  padding-top: 90px;
	  padding-left: 25px;
	  display: block;
	  font: normal 30px Genericons;
	  color: #fff;
	}
	.social-links a:after {
	  font-size: 48px;
	  padding-left: 20px;
	  padding-top: 80px;
	  margin-left: 85px;
	}
	
	#twitterfeed {
		margin-top:5%;
		max-width:40%;
	}
	
	.twitter-follow-button	{
	margin-left: 0;
	}
	
	.twitter-icon a:before, .twitter-icon a:after {
	  content: '\f202';
	  background-color:#65a2d9;
	}
	.twitter-icon a:after {

	}
	
	.fb-video {
		overflow:hidden;
		padding-bottom: 20%;
		position:relative;
		height:0;
	}

	.fb-video iframe{
		left:0;
		top:0;
		height:500px !important;
		width:280px !important;
		position:absolute;
	}

	.facebook-icon a:before, .facebook-icon a:after {
	  content: '\f204';
	  background-color:#4e598f;
	}
	.facebook-icon a:after {

	}

	#instagram-desktop{
		display:none;
	}
	
	#instagram-mobile{
		display:flex;
	}
	
	.insta-icon a:before, .insta-icon a:after {
	  content: '\f215';
	  background-color: #6c27b3;
	}
	.insta-icon a:after {

	}
	
	#youtube{
		height:auto!important;
		max-width:280px !important;
	}

	.youtube-icon a:before, .youtube-icon a:after {
	  content: '\f213';
	  background-color: #df192a;
	}
	.youtube-icon a:after {

	}
	
	.fa-facebook-square, .fa-twitter-square, .fa-instagram, .fa-youtube-square {
	font-size: 14px !important;
	margin: 0 6px 0 -2px;
	}
}


@media (min-width:0px) and (max-width: 375px) {
	
	html, body {
  		overflow-x: hidden;
	}
	
	header {
	text-align: right;
	line-height: 1.2;
	margin: 0 0;
	height: 68% !important;
	}
	
	header nav {
	color: #fff;
	padding: 25% 7%;
	margin: 0 0;
	line-height: 4em;
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0, 0.95);
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	}

	nav li {
		display: inline-block;
		text-align: center;
	}

	nav li a {
		padding:0 0;
	}

	#logo{
	position: relative;
	margin: -5% 0 0 35%;
	}
	
	#ArticleTitle {
	width:75%
	}
	
	.section {
		width: 80%;
	}
	.background{
	background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/sambodromo.jpg) center no-repeat;
	background-size: 260%;
	}
	
	footer {
	font-size: 0.38em;
	line-height: 10px;
	}
	
	#footer-one{
	padding: 1% 2%;
	margin-bottom:2px;
	}
	
	#footer-one > div {
	  width: 100px;
	  height: 70px;
	  *border: 2px dashed red;
	}
	
	#footer-sponsors {
	padding-left: 30px;
	}
	
	#footer-social {
	padding-left: 48px;
	}
	
	ul li a {
	  font-size: 24pt;
	  color: inherit;
	  font-weight: bolder;
	  text-decoration: none;
	}
	
}
