@media (min-width:375px) and (max-width: 900px) {
	html, body {
  		overflow-x: hidden;
	}
	
	header nav {
	color: #fff;
	padding: 35% 7%;
	margin: 0 0;
	line-height: 4em;
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0, 0.95);
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	}

	nav li {
		display: flex; 
		flex-direction: column;/* establish flex container */  
		text-align: center;
		justify-content: center;
		width:100%;
		
	}

	nav li a {
		width:50%;
		height: 100%;
		margin: auto auto;
		text-align: center;
		font-size: 1.1em!important;
	}

	#logo{
	position: relative;
	margin: 30% 0 0 0;
	width:100px;
	}
	
	#ArticleTitle {
	width:75%
	}
	
	.section {
		width: 80%;
	}
	.background{
	background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/sambodromo.jpg) center no-repeat;
	background-size: 160%;
	}
	
	footer {
	font-size: 0.48em;
	line-height: 12px;
	}
	
	#footer-one > div {
	  width: 100px;
	  height: 80px;
	  *border: 2px dashed red;
	}

	
	#footer-sponsors {
	padding-left: 30px;
	}
	
	#footer-social {
	padding-left: 48px;
	}

	
}

@media (max-width: 900px) {
	
	header {
	background: url(../../img/riowallpaper.jpg) no-repeat;
	background-size: 300%;
	background-position: -50px -120px;
	text-align: right;
	line-height: 1.2;
	margin: 0 0;
	}
	
	nav, .navbar-toggle {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}

	.nav-hide { display: none; }

	ul {
	  display: table-cell;
	  vertical-align: middle;
	  padding-right: 50px !important;
	}

	ul li { list-style: none; }

	ul li a {
	  font-size: 2.5em;
	  color: inherit;
	  font-weight: bolder;
	  text-decoration: none;
	}
	
	.navbar-toggle {
	  position: fixed;
	  top: 20px;
	  left: 20px;
	  width: 45px;
	  height: 45px;
	  z-index: 20;
	  cursor: pointer;
	}

	.bar1,
	.bar2,
	.bar3 {
	  width: 80%;
	  height: 5px;
	  margin-bottom: 5px;
	  background-color: #fff;
	  transition: all 0.3s ease-in-out;
	
	}

	.navbar-on .bar1,
	.navbar-on .bar2,
	.navbar-on .bar3 { background-color: white; }

	.navbar-on .bar1 {
	  transform-origin: 10% 40%;
	  transform: rotate(45deg);
	}

	.navbar-on .bar3 {
	  transform-origin: 10% 40%;
	  transform: rotate(-45deg);
	}

	.navbar-on .bar2 { background-color: transparent; }
	
		.fa-facebook-square, .fa-twitter-square, .fa-instagram, .fa-youtube-square {
	font-size: 14px !important;
	margin: 0 6px 0 -2px;
}
	
}


@media (min-width:0px) and (max-width: 375px) {
	
	html, body {
  		overflow-x: hidden;
	}
		
	header nav {
	color: #fff;
	padding: 35% 7%;
	margin: 0 0;
	line-height: 4em;
	position: fixed;
	z-index: 10;
	background-color: rgba(0,0,0, 0.95);
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	}

	nav li {
		display: inline-block;
		text-align: center;
	}

	nav li a {
		padding:0 0;
	}

	#logo{
	position: relative;
	margin: 5% 0 0 0;
	}
	
	#ArticleTitle {
	width:75%
	}
	
	.section {
		width: 80%;
	}
	.background{
	background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/sambodromo.jpg) center no-repeat;
	background-size: 260%;
	}
	
	footer {
	font-size: 0.38em;
	line-height: 10px;
	}
	
	#footer-one{
	padding: 1% 2%;
	margin-bottom:2px;
	}
	
	#footer-one > div {
	  width: 100px;
	  height: 70px;
	  *border: 2px dashed red;
	}
	
	#footer-sponsors {
	padding-left: 30px;
	}
	
	#footer-social {
	padding-left: 48px;
	}
	
	ul li a {
	  font-size: 24pt;
	  color: inherit;
	  font-weight: bolder;
	  text-decoration: none;
	}
	
}
